* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.logo {
  font-style: italic;
  font-size: 20px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text .black {
  font-weight: 700;
  color: #000;
}

.hero-text .red {
  font-weight: 400;
  color: #e53935;
}

.hero-text p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #444;
}

.btn {
  background: #e53935;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #c62828;
}

.hero-img img {
  width: 350px;
}
