* text {
    margin: 0;
    padding: 0;
    border: none;
}

* body {
    height: 100vh;
}

.header {
      height: 30vh;
      background-color: lightblue;
      padding-left: 20px;  
      line-height: 30vh;   
      text-align: left;    
    }

.main {
    height: 40vh;
    background-color: lightgray;
    text-align: center;  
    line-height: 40vh;   
    }

.footer {
    height: 30vh;
    background-color: lightgreen;
    padding-right: 20px; 
    line-height: 30vh;   
    text-align: right;   
    }

 
