* text {
    margin: 0;
    padding: 0;
    border: none;
}

* body {
    height: 100vh;
}

* header {
    height: 30vh;
    display: flex;
}

* main {
    height: 40vh;
    display: flex;
}

* footer {
    height: 30vh;
    display: flex;
}