* body {
    height: 100vh;
}

.text {
    margin: 0;
    padding: 0;
    border: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

.header {
      height: 30vh;
      background-color: lightblue;
      padding-left: 20px;  
      line-height: 30vh;   
      text-align: left;    
    }

.main {
    height: 40vh;
    background-color: lightgray;
    text-align: center;  
    line-height: 40vh;   
    }

.footer {
    height: 30vh;
    background-color: lightgreen;
    padding-right: 20px; 
    line-height: 30vh;   
    text-align: right;   
    }

.hohlina {
    width: 300px;
    height: auto;
    border: 5px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    margin: 20px;
    filter: grayscale(50%);
}



 
